#mover {
  position:   absolute;
  left:       0px;
  top:        0px;
  width:      40px;
  height:     40px;
}

#board {
  position: absolute;
  left:     20px;
  top:      20px;
  width:    360px;
  height:   360px;
}

#content {
  position: absolute;
  left:     20px;
  top:      380px;
}

#FENPos {
  width: 500px;
}
